<style>
  a {
    margin-top: -0.25rem;
  }
  img {
    height: 2.5rem;
    width: auto;
  }
</style>

<a href="https://github.com/propjockey/" title="Check out many more projects from Jane Ori at PropJockey!"><img src="/assets/propjockey.png" alt="PropJockey Logo"></a>
